<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <title>Shopping Buddy</title>
    <script src="http://localhost:3003/scripts/js-files/jquery.min.js"></script>
    <script src="http://localhost:3003/scripts/js-files/bootstrap.min.js"></script>

</head>
<body>

<script src = "http://localhost:3003/webint/chatWidget.js"></script>

</body>
</html>