.chat-icon{
    border:0px; position:fixed; bottom:15px; right:20px;filter: none;z-index:9999;
}
.chat-icon.active{
    right:30px;
    z-index: 10000;
}

.chat-icon-img {
    width: 60px;
    height: 60px;
    outline:none;
    background:none;
    box-shadow:none;
    display:block;
}
.chat-icon-img:focus{
    background: none;
    box-shadow: none;
}
.close-button {
    display: none;
}

.floating {  
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 8px); }
    to   { transform: translate(0, -0px); }    
}
.lab-modal-body {
    z-index: 9999;
    position: fixed;
    bottom: 60px;
    right: 30px;
    margin: 0px;
    width: 376px;
    height: 572px;
    overflow-y: hidden;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 10px 0px;
    border-radius: 8px;
    display: block;
    margin-bottom:30px;
}

.lab-modal-body-popup{
    z-index: 9999;
    position: fixed;
    bottom: 60px;
    right: 30px;
    margin: 0px;
    width: 280px;
    height: 70px;
    overflow-y: hidden;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 10px 1px;
    border-radius: 5px;
    display: block;
    color: #1c1d28;
    padding: 5px;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 200;
}
.daiModalPosition{
    position:fixed;
    bottom: 30px;
    right: 20px;
    margin: 0px;
    z-index: 3000000;
    width: 0px;
    height: 0px;

}
.daiModalPosition.active{
    right:0;
    transform: scale(1);
    opacity: 1;
}



.lab-modal-body {
    -webkit-transition: opacity 0.3s ease-out, bottom 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out, bottom 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out, bottom 0.3s ease-out;
    transition: opacity 0.3s ease-out, bottom 0.3s ease-out;
}
#chaticon {
    -webkit-filter: drop-shadow(10px 10px 10px #111);
    filter: drop-shadow(5px 5px 5px #222);
}
@keyframes bounce {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(0px);
    }
}
@-webkit-keyframes bounce {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(0px);
    }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
    /* STYLES GO HERE */

    .lab-modal-body {
        position: fixed;
        bottom: 0;
        right: 0;
        margin: 0;
        width: 100vw;
        height: 94vh;
    }
    .close-button {
        display: block;
    }
    .lab-modal-body-popup{
        z-index: 9999;
        position: fixed;
        bottom: 60px;
        right: 30px;
        margin: 0px;
        width: 72%;
        height: 55px;
        overflow-y: hidden;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 10px 1px;
        border-radius: 5px;
        display: block;
        color: #1c1d28;
        padding: 5px;
        font-family: sans-serif;
        font-size: 12px;
        font-weight: 200;
    }


}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .lab-modal-body {
        position: fixed;
        bottom: 0;
        right: 0;
        margin: 0;
        width: 100vw;
        height: 87vh;
        margin-bottom:10px;
    }
    .close-button {
        display: block;
    }
    .lab-modal-body-popup{
        z-index: 9999;
        position: fixed;
        bottom: 60px;
        right: 30px;
        margin: 0px;
        width: 75%;
        height: 55px;
        overflow-y: hidden;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 10px 1px;
        border-radius: 5px;
        display: block;
        color: #1c1d28;
        padding: 5px;
        font-family: sans-serif;
        font-size: 12px;
        font-weight: 200;
    }
}
