@import url("animate.css");

body {
    font-family: 'Segoe UI', sans-serif;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
}
.chat-header{
    background-color: #4940e2;
    color: #ffffff;
    height: 60px;
    line-height: 75px;
    font-size: 16px;
    padding-left: 30px;
    text-align: left;
    z-index: 9999;
    font-family: HelveticaNeue, 'Segoe UI', sans-serif;
    letter-spacing: -0.2px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

.hotkeys-container{
    position: fixed;
    bottom: -617px;
    left: 0;
    right: 0;
    background: #fafafa;
    box-shadow: 0 -20px 30px 0 rgba(0,0,0,0.08);
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding: 5px 20px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;   
    opacity: 0;
    transition: all 0.2s ease;
    
}

.hotkeys-container.active{
    opacity: 1;
    bottom: 48px;
}

.close-chat
{
    display: none;
}

.chat-header>div{
    height: 100px;
    margin-top: -2%;
}

.chat-header>div>span{
color: white;
font-size: 15px;
font-family: 'Segoe UI', sans-serif;
}

.panel {
    overflow: hidden;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
}

div.calloutbig {
    /*height: 60px;*/
    width: 100%;
    margin: 2%;
    padding: 1%;
    min-height: 60px;
    position: relative;
    display: inline-block;
}

div.calloutbig-button {
    /*height: 60px;*/
    width: 100%;
    margin: 1%;
    margin-left: 4%;
    min-height: 10px;
    position: relative;
    display: inline-block;
}

div.calloutbig-image {
    /*height: 60px;*/
    width: 300px;
    margin: 1%;
    margin-left: 7%;
    min-height: 10px;
    position: relative;
    display: inline-block;
}

.botclass {
    bottom: 50px;
    left: 0;
    transform: translateY(0);
    overflow: hidden;
    overflow-y: auto;
    padding: 5px;
    position: absolute;
    right: 0;
    top: 60px;
    transition: transform 0.2s cubic-bezier(0, 0, 0.5, 1);
    background: white;
}

.frame {
 height: auto;
    width: 350px;

}

.botclass::-webkit-scrollbar {
    width: 3px;
}

.botclass::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 5px;
}

.botclass::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

/* .header {
    background-color: #3a96dd;
    box-shadow: 0 1px rgba(0, 0, 0, 0.2);
    box-sizing: content-box;
    color: #fff;
    font-weight: 500;
    height: 30px;
    left: 0;
    letter-spacing: 0.5px;
    padding: 8px 8px 0 8px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    display: block;
    font-family: 'Segoe UI', sans-serif;
    font-size: 15px;
} */

.console {
    border-top: 1px solid #dbdee1;
    bottom: 0;
    box-sizing: border-box;
    height: 50px;
    left: 0;
    position: absolute;
    right: 0;
    display: block;
    background-color: #fff;
}

.navbar-toggle-main {
	border-color: #6396fd;
	height: 30px;
	border-radius: 10px;
    color: #6396fd;
    outline: none;
}
.navbar-toggle-main .icon-bar-main {
	background-color: #6396fd;
    display: block;
    height: 2px;
    margin: 4px -2px;
}

.consoleSmall {
    border-top: 1px solid #dbdee1;
    bottom: 0;
    box-sizing: border-box;
    height: 40px;
    left: 0;
    position: absolute;
    right: 0;
    display: block;
}


.textin {
    border: none;
    height: 100%;
    outline: none;
    padding: 0;
    resize: none;
    width: 80%;
}
.btn-send {
   display: none;
}

.tooltip {
    position: relative;
    display: inline-block;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
.tooltip .tooltiptext {
    visibility: hidden;
    width: 240px;
    background-color: #f7f7f7;
    color: #1c1d28;
    text-align: left;
    border-radius: 6px;
    padding: 10px 20px;
    position: absolute;
    z-index: 1;
    font-size: medium;
    bottom: 100%;
    font-family: sans-serif;
    line-height: 1.6;
    left: 50%;
    margin-left: -108px;
    font-size: 13px;
    font-weight: 400;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  }
  .tooltip .tooltiptext:after {
    position: absolute;
    bottom: -5px;
    left: 50%;
    margin-left: -5px;
    width: 0;
    border-top: 5px solid #f5f5f5;
    /* border-top: 5px solid hsla(0, 0%, 20%, 0.9); */
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
  }

div.calloutleft {
    /*background-color: #444;
    background-image: -moz-linear-gradient(top, #444, #444);*/

    background: #4940e2;
    border-radius: 20px 0 20px 20px;
    font-family: HelveticaNeue, 'Segoe UI', sans-serif;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0.3px;
    text-align: left;
    line-height: 19px;
    position: relative;
    padding: 16px 20px 18px 20px;
    margin: 0px;
    min-height: 15px;
    max-width: 240px;
    height: auto;
    margin-right: 25px;
    float: right;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /*text-shadow: 0 0 1px #000;

    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;*/
}


div.calloutright {
    background: #efefef;
    border-radius: 0 20px 20px;
    font-family: HelveticaNeue, 'Segoe UI', sans-serif;
    font-size: 14px;
    color: black;
    letter-spacing: 0.3px;
    line-height: 19px;
    position: relative;
    padding: 16px 20px 18px 20px;
    width: 240px;
    margin: 0px;
    margin-right: 25px;
    min-height: 15px;
    margin-left: 15px;
    float: left;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

div.calloutright-url {
    background: #f5f5f5;
    border-radius: 4px;
    font-family: HelveticaNeue, 'Segoe UI', sans-serif;
    font-size: 14px;
    color: black;
    letter-spacing: 0.3px;
    line-height: 19px;
    position: relative;
    padding: 0px;
    width: 280px;
    height: 300px;
    margin:7px 25px 7px 26px;
    float: left;
    border-radius: 10px;
    font-weight: 400;
    box-shadow: 0px -1px 15px rgba(0, 0, 0, 0.1);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

div.calloutrightSmall {
    background:white;
    border-radius: 4px;
    font-family: HelveticaNeue, 'Segoe UI', sans-serif;
    font-size: 14px;
    color: black;
    letter-spacing: 0.3px;
    line-height: 19px;
    position: relative;
    padding: 5px;
    width: 170px;
    margin: 0px;
    float: left;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

div.calloutrightSmall {
    background:white;
    border-radius: 4px;
    font-family: HelveticaNeue, 'Segoe UI', sans-serif;
    font-size: 14px;
    color: black;
    letter-spacing: 0.3px;
    line-height: 19px;
    position: relative;
    padding: 5px;
    width: 170px;
    margin: 0px;
    float: left;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.calloutright-button {
    /*background-color: #444;
    background-image: -moz-linear-gradient(top, #444, #444);*/
    background: white;
    border-radius: 8px;
    font-family: HelveticaNeue, 'Segoe UI', sans-serif;
    font-size: 14px;
    color: #4940e2;
    letter-spacing: -0.2px;
    line-height: 19px;
    position: relative;
    padding: 12px 20px;
    margin : 7px 0px 10px 20px;
    min-height: 15px;
    float: left;
    font-weight: lighter;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    outline: none;
    border:1px solid #4940e2 ;

    /*text-shadow: 0 0 1px #000;

    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;*/
}

.calloutright-button-hover {
    /*background-color: #444;
    background-image: -moz-linear-gradient(top, #444, #444);*/
    width: 220px;
    background: white;
    border-radius: 8px;
    font-family: HelveticaNeue, 'Segoe UI', sans-serif;
    font-size: 14px;
    color: #4940e2;
    letter-spacing: -0.2px;
    line-height: 19px;
    position: relative;
    padding: 12px 20px;
    margin : 7px 0px 10px 20px;
    min-height: 15px;
    float: left;
    font-weight: lighter;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    outline: none;
    border:1px solid #4940e2 ;
}

img.blogImgStyle {
    width:100%; 
    height:150px; 
    border-top-left-radius:10px; 
    border-top-right-radius:10px; 
  }

  div.calloutright-form {
    background: #f7f7f7;
    border-radius: 10px;
    font-family: HelveticaNeue, 'Segoe UI', sans-serif;
    font-size: 14px;
    color: black;
    letter-spacing: 0.3px;
    line-height: 16px;
    position: relative;
    padding: 16px 20px 18px 20px;
    width: 262px;
    margin: 20px;
    margin-right: 25px;
    min-height: 15px;
    margin-left: 15px;
    float: left;
    font-weight: 400;
    box-shadow: 0px -1px 15px rgba(0, 0, 0, 0.1);
}

.formInput {
    border: 1px solid;
    width: 240px;
    border-color: #ececec;
    border-radius: 7px;
    height: 30px;
    padding: 5px;
}

.calloutright-button:hover,
.calloutright-button:active,
.calloutright-button:focus{

    background: #4940e2;
    border-radius: 8px;
    font-family: HelveticaNeue, 'Segoe UI', sans-serif;
    font-size: 14px;
    color: white;
    letter-spacing: -0.2px;
    line-height: 19px;
    position: relative;
    padding: 12px 20px;
    margin : 7px 0px 10px 20px;
    min-height: 15px;
    float: left;
    font-weight: lighter;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    outline: none;
    border: none;
    border:1px solid #3366ff;


}
/*.calloutright::before {*/
    /*content: "";*/
    /*width: 0px;*/
    /*height: 0px;*/
    /*border: 0.8em solid transparent;*/
    /*position: absolute;*/
    /*left: -20px;*/
    /*top: 37%;*/
    /*border-right: 10px solid var(--mdc-theme-accent);*/
/*}*/

.scroll {
    width: 200px;
    height: 400px;
    background:#73889E;
    overflow: scroll;
}
::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5);
}

.message-from-me {
    float: right;
    margin-right: 20px;
}

.message-from-bot {
    float: left;
    margin-left: 60px;
}

.message-from {
    clear: both;
    color: #999;
    font-size: 11px;
    margin-top: 2px;

}

.image-cropper {
    max-width: 50px;
    height: auto;
    position: relative;
    overflow: hidden;
}

.image-cropper img{
    display: block;
    margin: 0 auto;
    height: auto;
    width: 150%;
    margin: 0 0 0 -20%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

.circular--square {
    border-radius: 50%;
}

.button{
    height: 10%;
    background-color: #F3FAFA;
    border: 1px solid #73889E;
    color: #2b313f;
    font-size: 13px;
    width:300px;
}

@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) {
    /* STYLES GO HERE */
    div.calloutleft {
        /*background-color: #444;
        background-image: -moz-linear-gradient(top, #444, #444);*/
        position: relative;
        color: #2b313f;
        padding: 15px;
        border-radius: 3px;
        margin: 0px;
        min-height: 15px;
        border: 1px solid lightgray;
        margin-right: 0px;
        float: right;
        background-color: #F3FAFA;
        font-size: 40px;
        /*text-shadow: 0 0 1px #000;

        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;*/
    }

    div.calloutright {
        /*background-color: #444;
        background-image: -moz-linear-gradient(top, #444, #444);*/
        position: relative;
        color: white;
        padding: 15px;
        border-radius: 3px;
        margin: 0px;
        min-height: 15px;
        border: 1px solid #73889E;
        margin-left: 15px;
        float: left;
        background-color: #73889E;
        margin-top: 5px;
        font-size: 40px;
        /*text-shadow: 0 0 1px #000;

        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;*/
    }


    .console {
        border-top: 1px solid #dbdee1;
        bottom: 0;
        box-sizing: border-box;
        height: 100px;
        left: 0;
        position: absolute;
        right: 0;
        display: block;
    }

    

    body {
        font-family: 'Segoe UI', sans-serif;
        font-size: 40px;
    }

    div.calloutbig {
        /*height: 60px;*/
        width: 91%;
        margin: 2%;
        padding: 2%;
        min-height: 60px;
        position: relative;
        display: inline-block;
    }

    .chat-header > div > span {
        color: white;
        font-size: 40px
    }

    .chat-header {
        height: 60px !important;
        min-height: 50px;
        z-index: 3;
        background: var(--mdc-theme-background) !important;
        background-color: #2B303E !important;
    }

    .chat-header > div {
        height: 85px !important;
    }

    .close-chat {
        display: block;
    }

    .btn-send {
        background-color: #4940e2;
        color: #fff;
        /* padding: 24px; */
        height: 100%;
        width: 20%;
        display: inline-block;
    }

    .textin {
        border: none;
        height: 100%;
        outline: none;
        padding: 0;
        resize: none;
        width: 85%;
    }

    .botclass {
        bottom: 50px;
        left: 0;
        transform: translateY(0);
        overflow-x: hidden;
        overflow-y: auto;
        padding: 5px;
        position: absolute;
        right: 0;
        top: 90px;
        transition: transform 0.2s cubic-bezier(0, 0, 0.5, 1);
        background-color:white;
    }

    .button{
        height: 10%;
        background-color: white;
        border: 1px solid #73889E;
        color: #2b313f;
        font-size: 13px;
        width:270px;

    }
}
    @media screen and (min-device-width : 320px)
        and (max-device-width : 480px) {
        div.calloutleft {
            
    background: #4940e2;
    border-radius: 20px 0 20px 20px;
    font-family: HelveticaNeue, 'Segoe UI', sans-serif;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0.3px;
    text-align: left;
    line-height: 19px;
    position: relative;
    padding: 16px 20px 18px 20px;
    margin: 0px;
    min-height: 15px;
    max-width: 80%;
    height: auto;
    margin-right: 0;
    float: right;
    -webkit-font-smoothing: antialiased;
        }

        div.calloutright {
            background: #efefef;
            border-radius: 0 20px 20px;
            font-family: HelveticaNeue, 'Segoe UI', sans-serif;
            font-size: 14px;
            color: black;
            letter-spacing: 0.3px;
            line-height: 19px;
            position: relative;
            padding: 16px 20px 18px 20px;
            width: 80%;
            margin: 0px;
            margin-right: 5%;
            min-height: 15px;
            float: left;
            font-weight: 400;
            -webkit-font-smoothing: antialiased;
        }


        .console {
            border-top: 1px solid #dbdee1;
            bottom: 0;
            box-sizing: border-box;
            height: 50px;
            left: 0;
            position: absolute;
            right: 0;
            display: block;
        }

        body {
            font-family: 'Segoe UI', sans-serif;
            font-size: 16px;
        }

        div.calloutbig {
            /*height: 60px;*/
            width: 91%;
            margin: 2%;
            padding: 2%;
            min-height: 60px;
            position: relative;
            display: inline-block;
        }

        .chat-header > div > span {
            color: white;
            font-size: 16px
        }

        .chat-header {
            height: 50px !important;
            min-height: 50px;
            z-index: 3;
            background: var(--mdc-theme-background) !important;
            background-color: #4940e2  !important;
        }

        .chat-header>div{
            margin-top: 0;
        }

        .chat-header > div {
            height: 85px !important;
        }

        .close-chat {
            display: block;
        }

        .btn-send {
            background-color: #4940e2;
            color: #fff;
            /* padding: 24px; */
            height: 100%;
            width: 20%;
            display: inline-block;
        }

        .textin {
            border: none;
            height: 100%;
            outline: none;
            padding: 0;
            resize: none;
            width: 80%;
        }

        .botclass {
            bottom: 50px;
            left: 0;
            transform: translateY(0);
            overflow-x: hidden;
            overflow-y: auto;
            padding: 5px;
            position: absolute;
            right: 0;
            top: 59px;
            transition: transform 0.2s cubic-bezier(0, 0, 0.5, 1);
            background-color: white;
        }

        .button{
            height: 10%;
            background-color: #F3FAFA;
            border: 1px solid #73889E;
            color: #2b313f;
            font-size: 13px;
            width:270px;
        }
        .clearfix{
            clear: both;
        }

        .carousel a{
            display: block;
        }


    }

.owl-nav{
    text-align: center;
    font-size: 32px;
}

.owl-nav button.owl-prev,
.owl-nav button.owl-next{
    margin-right: 10px;
    border: 1px solid #4940e2 !important;
    border-radius: 5px;
    color: #4940e2 !important;
}

.owl-nav button span{
    padding: 0 10px;
}
